/* FONTS */

/* Inter - Sans Serif */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Lora - Serif */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&display=swap');

/* Inconsolata - Mono */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */

:root {
  /* Colors */
  --clr-dark-800: rgba(5, 5, 5, 1);
  --clr-dark-700: rgba(31, 31, 31, 1);
  --clr-dark-600: rgba(45, 45, 45, 1);
  --clr-dark-600-transp: rgba(45, 45, 45, 0.25);
  --clr-dark-500: rgba(58, 58, 58, 1);
  --clr-dark-400: rgba(117, 117, 117, 1);

  --clr-light-600: rgba(233, 233, 233, 1);
  --clr-light-500: rgba(244, 244, 244, 1);
  --clr-light-400: rgba(255, 255, 255, 1);

  --clr-accent-primary: rgba(164, 69, 237, 1);
  --clr-accent-secondary: rgba(255, 82, 82, 1);

  /* Fonts */
  --ft-family-sans: 'Inter', sans-serif;
  --ft-family-serif: 'Lora', serif;
  --ft-family-mono: 'Inconsolata', monospace;

  /* Font-size - Mobile - behöver kontrollera detta så det stämmer */
  --fs-heading-l: 2rem;
  --fs-heading-m: 1.125rem;
  --fs-heading-s: 1rem;
  --fs-body-m: 1rem;
  --fs-body-s: 0.875rem;

  --line-height-body: 1.5rem;

  /* Padding på samtliga sektioners sidor - i main container */
  --section-margin-primary: 2rem;
}

/* obs: kan behöva ändra breakpoints */
@media screen and (min-width: 690px) {
  :root {
    /* Font-size - Desktop/Tablet */
    --fs-heading-l: 4rem;
    --fs-heading-m: 1.5rem;
    --fs-heading-s: 1.25rem;
    --fs-body-m: 1.125rem;

    --section-margin-primary: 2.5rem; /* Kolla om jag faktiskt använder den bra i sektionerna senare - annars göra om */
  }
}

/* GENERAL STYLES */

body {
  /* Bg-clr + font family ska kunna ändras */
  background-color: var(--clr-light-400);
  font-family: var(--ft-family-sans);
}

.main-container {
  max-width: 690px;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: var(--clr-light-600);
}

@media screen and (min-width: 690px) {
  .main-container {
    padding: 2rem 1.5rem;
  }
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--section-margin-primary);
}

.header__link {
  display: flex;
  align-items: center;
}

.header__alternatives-container {
  display: flex;
}

.header__font-selector {
  display: flex;
  align-items: center;
  gap: 1rem;

  position: relative;

  padding: 0 1rem 0 0;

  border-right: 1px solid var(--clr-light-600);
}

.header__current-font {
  font-size: var(--fs-body-s);
  font-weight: 700;
}

.header__show-fonts-btn {
  border: 0;
  background: none;
  cursor: pointer;
}

.header__arrow-icon {
  transition: transform 0.2s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.header__font-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 40px;
  right: 16px;

  width: max-content;
  background-color: var(--clr-light-400);
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  border-radius: 10px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  transform: translateY(-200%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
}

.header__font-btn {
  border: 0;
  background: none;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--fs-body-s);
  text-align: left;
}

.header__font-btn:hover {
  color: var(--clr-accent-primary);
}

.header__font-btn--sans {
  font-family: var(--ft-family-sans);
}

.header__font-btn--serif {
  font-family: var(--ft-family-serif);
}

.header__font-btn--mono {
  font-family: var(--ft-family-mono);
}

.header__mode-selector {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0 0 0 1rem;
}

@media screen and (min-width: 690px) {
  .header__current-font {
    font-size: var(--fs-body-m);
  }

  .header__font-btn {
    font-size: var(--fs-body-m);
  }
}

/* MODE SWITCH */

.header__checkbox {
  display: none;
}

.header__switch {
  display: block;
  position: relative;

  background-color: var(--clr-dark-400);
  width: 40px;
  height: 20px;
  border-radius: 40px;
  cursor: pointer;

  transition: 0.2s ease-in-out;
}

.header__switch::before {
  position: absolute;
  content: '';
  background-color: var(--clr-light-400);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin: 3px;

  transition: 0.2s ease-in-out;
}

.header__checkbox:checked + .header__switch {
  background-color: var(--clr-accent-primary);
}

.header__checkbox:checked + .header__switch::before {
  transform: translateX(20px);
}

/* FORM */

.form {
  /* padding: var(--section-margin-primary); */
  margin-bottom: var(--section-margin-primary);
}

.form__container {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 1rem;

  background-color: var(--clr-light-500);
  border: 1px solid transparent;
  border-radius: 16px;
}

.form__input {
  background: none;
  padding: 1em;
  border: 0;

  font-size: var(--fs-heading-s);
  font-family: inherit;
  font-weight: 700;
}

.form__input::-webkit-input-placeholder {
  color: var(--clr-dark-600-transp);
}

.form__input:-ms-input-placeholder {
  color: var(--clr-dark-600-transp);
}

.form__input::placeholder {
  color: var(--clr-dark-600-transp);
}

.form__input:focus {
  outline: 0;
}

.form__container:has(.form__input:focus) {
  border: 1px solid var(--clr-accent-primary);
}

.form__submit-btn {
  background: none;
  border: 0;
  margin-right: 1em;
  margin-top: 3px;

  cursor: pointer;
  font-size: var(--fs-heading-s);
}

/* WORD SECTION */

.word {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: var(--section-margin-primary);
}

.word__search-term {
  margin-bottom: 1rem;
  font-size: var(--fs-heading-l);
}

.word__phonetic {
  font-size: var(--fs-heading-m);
  color: var(--clr-accent-primary);
}

.word__play-btn {
  background: none;
  border: 0;
  cursor: pointer;
}

.word__play-svg:hover g circle {
  opacity: 1;
}

.word__play-svg:hover path {
  fill: var(--clr-light-400);
}

/* MEANING SECTION */

.meaning {
  margin-bottom: var(--section-margin-primary);
}

.meaning__heading-container {
  display: flex;
  gap: 2rem;
  margin-bottom: var(--section-margin-primary);
}

.meaning__heading {
  font-size: var(--fs-heading-m);
  line-height: 0.5;
}

.meaning__subheading {
  font-size: var(--fs-heading-s);
  font-weight: 400;
  color: var(--clr-dark-400);
  margin-bottom: 1rem;
}

.meaning__list {
  margin-bottom: 2rem;
  padding-left: 2rem;
  list-style: none;
}

.meaning__list-item {
  position: relative;
  margin-bottom: 1rem;
  font-size: var(--fs-body-m);
  color: var(--clr-dark-600);
  line-height: 1.5rem;
}

.meaning__list-example {
  margin-bottom: 2rem;
  font-size: var(--fs-body-m);
  color: var(--clr-dark-400);
  line-height: 1.5rem;
}

.meaning__list-item::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -2rem;
  top: 0.6rem;

  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--clr-accent-primary);
  border-radius: 50%;
}

.meaning__synonyms-container {
  display: flex;
  gap: 2rem;
  align-items: baseline;
}

.meaning__link {
  color: var(--clr-accent-primary);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--fs-heading-s);
}

.meaning__link:hover {
  text-decoration: underline;
}

/* SOURCE */

.source {
  margin-bottom: var(--section-margin-primary);
}

.source .horizontal-line {
  margin-bottom: 1.5rem;
}

.source__heading {
  font-size: var(--fs-body-s);
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 0.75rem;
  color: var(--clr-dark-400);
}

.source__link-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.source__link {
  font-size: var(--fs-body-s);
  color: var(--clr-dark-600);
}
